.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #2d5596 #1d3658;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1d3658;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #2d5596;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #3a6bc0;
}

.myButton {
  background-color: #324867;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  box-shadow: 0 2px 8px rgba(45, 85, 150, 0.12);
  transition: 0.3s ease-in-out;
}
.myButton:hover {
  background: #3f5c88;
  box-shadow: 0 4px 16px rgba(58, 107, 192, 0.18);
  transform: scale(1);
}
